/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


$green: #689F38;
$grey:  #DADADA;
$black: #363636;

// Form style

.button{
  &:hover{
    background: $green;
    color: #FFF;
    transition: .4s;
  }

  &:active{
    border: 1px solid $green;
  }

  background: fade-out($green,1);
  border: 1px solid $green;
  font-weight: 800;
  padding: 15px;
  border-radius: 0px;

  @extend .btn;
}

input[type=submit] {
  &:hover{
    background: $green;
    color: #FFF;
    transition: .4s;
  }

  &:active{
    border: 1px solid $green;
  }
  background: fade-out($green,1);
  border: 1px solid $green;
  font-weight: 800;
  padding: 15px;
}

input[type=text]{
  &:focus {
    color: #000000;
    border: 1px solid $green
  }
  border-radius: 0px;
  border: 1px solid $green;
}

input[type=email]{
  &:focus {
    color: #000000;
    border: 1px solid $green
  }
  border-radius: 0px;
  border: 1px solid $green;
}


input[type=password]{
  &:focus {
    color: #000000;
    border: 1px solid $green
  }
  border-radius: 0px;
  border: 1px solid $green;
}

textarea{
  &:focus {
    color: #000000;
    border-radius: 0px;
    border: 1px solid $green;
  }
  resize: vertical;
  max-height: 300px;
}

#textarea-style{
 border-radius: 0px;
 border: 1px solid $green;
}

// -------

// NAVBAR style

.navbar-style{
  background-color: $black;
  font-family: 'Roboto Slab', serif;
  border-bottom: $black;
  padding-bottom: 5px;
}

.navbar-inverse .navbar-brand {
  &:hover{
    color: $green;
    transition: 0.4s;
  }

  &:focus{
    color: $green;
  }

  margin-top:5px;
  font-size: 22px;
  color: $grey;
}

.navbar-inverse .navbar-nav{

  li > a {
    &:hover{
      color: $green;
      transition: 0.4s;
    }

    &:focus{
      color: $green;
    }

    margin-top:5px;
    font-size: 16px;
    color: $grey;
  }
}

.navbar-text-login{
  //padding-top: 19px;
  margin-top: 19px;
  font-size: 16px;
  color: $grey;
  text-indent:20px;
  font-style:italic;
}

//

// select background color

body *::-moz-selection {
  background: fade-out($green,.4);
  color: white;
}

body *::-webkit-selection {
  background: fade-out($green,.4);
  color: white;
}

body *::selection {
  background: fade-out($green,.4);
  color: white;
}

//

//OTHER style

body{
  background-color: #F2F2F2;
  padding-top: 60px ;
  font-family: 'Open Sans', sans-serif;
}

a{
  &:hover{
    color: $grey;
    transition: 0.2s;
    text-decoration: none;
  }
  color: $green;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
}

.big-pad{
  padding: 15px 0px;
}

.pad{
  padding: 5px 0px;
}

.pad-left{
  padding-left: 5px;
}

.pad-right{
  padding-right: 5px;
}

.mg-right{
  margin-right: 15px;
}

.mg-left{
  margin-left:15px;
}
//
