// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey:  #DADADA;
$black: #363636;
$green: #689F38;

#post-container{
  background: white;
  border: 1px solid $grey;
  border-radius: 3px;
  margin: 20px;
  padding: 30px 30px;
  word-wrap: break-word;
}

#vote-container{
  background: white;
  border: 1px solid $grey;
  border-radius: 3px;
  margin: 20px;
  padding: 30px 30px;
  word-wrap: break-word;
}

.post-link{
  &:hover{
    color: $green;
  }
  color: #444;
}

.body-post{
  font-color: #6B6B6B;
  padding-top: 20px;
  padding-bottom: 20px;
}

.glyphicon{
  padding: 20px 5px 0px 0px;
}
.glyphicon-user{
  padding-left: 15px;
}

ul{
  padding-left: 0px;
}
